.modal-body{
  position: absolute;
  margin-top: -250px;
  margin-left: 200px;
  width:500px;
  z-index: 20;
  background-color:white;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
    border: 1px solid rgb(44, 44, 44);
}
.col-w{
  margin-top:20px;
}
.btn-update{
width:130px;
background-color: #f3d036;
border: none ;
color: black;
}
.btn-update:hover{
  background-color: rgb(122, 122, 122);
}
.btn-update:checked{
  background-color: rgb(65, 63, 63);
}
